@{
    ViewData["Title"] = "Login CSS";
}

<div class="ContenedorForm">
    <h2>Registrarse</h2>
    <form id="FormRegistro">
        <div class="parteForm">
            <label for="UserName">Nombre de Usuario</label>
            <input type="text" id="UserName" placeholder="Nombre de Usuario" required>
        </div>
        <div class="parteForm">
            <label for="Email">Email</label>
            <input type="email" id="Email" placeholder="Email" required>
        </div>
        <div class="parteForm">
            <label for="Contraseña">Contraseña</label>
            <input type="password" id="Contraseña" placeholder="Contraseña" required oninput="ContraseñaBien()">
            <p id="passwordMessage"></p>
        </div>
        <div class="parteForm">
            <p id="largo" class="Validacion">✖ Más de 8 caracteres</p>
            <p id="mayus" class="Validacion">✖ Mínimo 1 letra mayúscula</p>
            <p id="especial" class="Validacion">✖ Mínimo 1 caracter especial</p>
        </div>
        <button type="submit" class="btn-submit">Registrarse</button>
    </form>
</div>