@{
    ViewData["Title"] = "Olvide mi Contraseña";
}

<div class="ContenedorForm">
    <h2>Olvide mi Contraseña</h2>
    <form id="FormRegistro" action='@Url.Action("ActualizarContra", "Account")' method="post" onsubmit="return validarFormulario()">
        <div class="parteForm">
            <label for="UserName">Nombre de Usuario o Email</label>
            <input type="text" name="UserOEmail" placeholder="Roberto o ejemplo123@email.com" required>
        </div>
        <div class="parteForm">
            <label for="Password">Contraseña Nueva</label>
            <input type="password" id="Password" name="Contraseña" placeholder="Hola_123" required oninput="ContraseñaBien()">
        </div>
        <div class="parteForm">
            <p id="largo" class="Validacion">✖ Más de 8 caracteres</p>
            <p id="mayus" class="Validacion">✖ Mínimo 1 letra mayúscula</p>
            <p id="especial" class="Validacion">✖ Mínimo 1 caracter especial</p>
        </div>
        <p class="mensaje-error parteForm" id="errorRequisitos">Tienes que cumplir con los requisitos de las contraseñas</p>
        <button type="submit" class="btn-submit">Registrarse</button>
    </form>
</div>