@{
    ViewData["Title"] = "Registro";
}
<input type="email" id="UserName" oninput="">
<input type="text" id="UserName" oninput="">
<input type="password" id="Contraseña" oninput="ContraseñaBien()">
<p>Texto en tiempo real: <span id="textoMostrado"></span></p>